.title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 80px;
}

.btn{
    margin-left: 40px;
    margin-top: 25px;
}
.reg{
    margin-top: 30px;
    margin-left: 40px;
}
.date{
    color: rgb(216, 13, 13);
}
.responsive{
    width: 80%;
    height: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 30px;
   
}
.learntitle{
    font-family: "Poppins", sans-serif;
    margin-bottom: 30px;
}
.card{
    font-family: "Poppins", sans-serif;
    height: 100%;
}
.access{
    color: rgb(216, 13, 13);
}
.img{
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    padding: 8px;
    
}

.reward{
    background: url('Images/reward.png') no-repeat;
    background-position: center;
    background-size: cover;
    font-family: "Poppins", sans-serif;
    height: 100%;
    padding-top: 30px;
    padding-left: 30px;
    color: white;
    border-radius: 30px;
}
.Get{
    margin-left: 5px;
    margin-top: 10px;
}








@media only screen and (min-width: 600px) {
    
}